.Cards {
  display: inline-block;

  width: 200px;
  height: 130px;
  background-color: aquamarine;
  margin-top: 2%;
  padding-top: 7%;
  vertical-align: middle;
}

.selected {
  text-align: center;
}
