.App {
  text-align: center;
}

.Button {
  display: inline-block;
  border: 0;
  background-color: none;
  margin: 1%;
  width: 7rem;
  height: 4rem;
  border-radius: 5%;
}

li,
a {
  display: inline-block;
  margin: 10px;
  /* margin-left: 20px; */
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

li:hover {
  background-color: yellowgreen;
}

button {
  border: 0;
  background: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
